
<div class="page-header">
おすすめ本
<div>

<table class="table small">

    <tr>
        <td>
            <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4938280590/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4938280590&linkCode=as2&tag=hdtymnk-22&linkId=2142229bb85b65b123c59ebfc4390ca3"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4938280590&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=hdtymnk-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=hdtymnk-22&l=am2&o=9&a=4938280590" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </td>
        <td>
        <a target="_blank" href="https://www.amazon.co.jp/gp/product/4938280590/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4938280590&linkCode=as2&tag=hdtymnk-22&linkId=f95f968c260595969be28091a604f44c">素人にマネのできない馬券術 (競馬道OnLine新書)</a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=hdtymnk-22&l=am2&o=9&a=4938280590" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <br>
        みんな大好き岡田牧雄氏が、馬券術、JRAへの提言、そして馬の見方を語る。勉強になることも多々書かれているが、何より全ての競馬ファンへの慈愛に溢れた名著。
        </td>
    </tr>
    <tr>
        <td>
            <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4140814705/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4140814705&linkCode=as2&tag=hdtymnk-22&linkId=9b8ab3ed564b7ae000552e93f0e4c37a"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4140814705&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=hdtymnk-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=hdtymnk-22&l=am2&o=9&a=4140814705" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </td>
        <td>
            <a target="_blank" href="https://www.amazon.co.jp/gp/product/4140814705/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4140814705&linkCode=as2&tag=hdtymnk-22&linkId=01ffc75587476e69aec61f9b0f6f2718">血のジレンマ サンデーサイレンスの憂鬱 (　)</a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=hdtymnk-22&l=am2&o=9&a=4140814705" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <br>
            ディープインパクト、キングカメハメハの両巨星が墜ち、群雄割拠の種牡馬界。次に覇権を取る血統は？この本を読むと、誰しもが自分なりの思想を持てるようになり、馬選びに深みが増すと思います。
        </td>
        
</table>