<br>
<br>
<p class="bg-info"> 人気のうまサーチ</p> 


<%= link_to "父：アイルハヴアナザー/母父父：サンデーサイレンス",horses_path(:ml => 'アイルハヴアナザー',:ml2 => '',:ml3a => '',:ml2_f => '', :ml3a_f => 'サンデーサイレンス',:commit=> 'Search' ) ,class: 'btn btn-light small' %> <p><p>
<%= link_to "父父：キングカメハメハ/母父：サンデーサイレンス",horses_path(:ml => '',:ml2 => 'キングカメハメハ',:ml3a => '',:ml2_f => 'サンデーサイレンス', :ml3a_f => '') ,class: 'btn btn-light small'  %><p>
<%= link_to "父：スクリーンヒーロー",horses_path(:ml => 'スクリーンヒーロー',:ml2 => '',:ml3a => '',:ml2_f => '', :ml3a_f => '') ,class: 'btn btn-light small' %><p>
<%= link_to "父：ディープインパクト/母父：f",horses_path(:ml => 'ディープインパクト',:ml2 => '',:ml3a => '',:ml2_f => 'f', :ml3a_f => '') ,class: 'btn btn-light small' %><p>

