<h1>うまsearch</h1>

</p> 
<%#=  form_with(model: [post, post_comment], local: true, data: { persist: 'garlic' }) do |f|%>


<%= render 'tableform' %>


<%# if false %>
    <%# if @gwin.present? || @ghistory.present? %>
    <% if @gcheck.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @gcheck %> 
    <% elsif @ghistory.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @ghistory %> 
    <% elsif @gwin.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @gwin %> 
    <% else %>
        <% @uma = @ml & @ml2 & @ml3a  &@ml2_f & @ml3a_f  %> 
    <% end %>
<%# end %>

<%# @uma = @ml & @ml2 & @ml2_f & @ml3a_f %>

<% if @uma.empty?  %>
        <p>いません。</p>
<% end %>

<% if @uma.present?  %>

    <% if @uma.count >= 500 %>
    
        対象が多すぎます。もう少し絞ってください。
        
    <% else %>

    <%= render 'wcount',wcount: @uma %>
    <p>
    <%= render 'result' %>
    <%= render 'list' %>

    <% end %>
        
<% end %>

<%# end %>
<%#= link_to　'Search', 'http://www.google.co.jp/' %>

<% if false %>
<% end %>