

<%#=  form_with(model: [post, post_comment], local: true, data: { persist: 'garlic' }) do |f|%>
<%= render 'tableform' %>
    <%# 配列（各検索結果）から一致するもののみ抽出  %>
    <% if @gcheck.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @gcheck %> 
    <% elsif @ghistory.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @ghistory %> 
    <% elsif @gwin.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @gwin %> 
    <% else %>
        <% @uma = @ml & @ml2 & @ml3a  &@ml2_f & @ml3a_f  %> 
    <% end %>


<%# @uma = @ml & @ml2 & @ml2_f & @ml3a_f %>

<% if params[:ml].blank? && params[:ml2].blank? && params[:ml3a].blank? && params[:ml2_f].blank? && params[:ml3a_f].blank? %>
        <%# やはりこの場合は表示しないでいい %>
<% elsif @uma.blank? %>
        <p>検索条件に該当する馬はいません。</p>
<% end %>

<% if @uma.present?  %>

    <% if @uma.count >= 400 %>
        対象が多すぎます。もう少し絞ってください。
    <% else %>
    <%= render 'result' %>
    <%= render 'wcount',wcount: @uma %>
    <%= render 'list' %>
    <% end %>
<% end %>


<% if false %>
<% end %>